@import "@repo/client-auth/theme.css";
@import "tailwindcss";

/* load custom 3D isometric font */
@font-face {
  font-family: "3DIsometric";
  src: url("/fonts/3DIsometric-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* If you update the nav or footer height (ie: adjusting font size, padding, etc.),
 * make sure you update the margin utilities below. These ensure that fullscreen
 * pages are the correct size.
*/
:root {
  --nav-height: 80px;
  --footer-height: 108px;
}

@layer utilities {
  .mt-nav {
    margin-top: calc(0px - var(--nav-height));
  }
  .pt-nav {
    padding-top: var(--nav-height);
  }
  .fullscreen-center {
    @apply h-screen flex flex-col items-center justify-center pt-40;
    margin-top: calc(0px - var(--nav-height) - var(--footer-height));
  }
  .font-isometric {
    font-family: "3DIsometric", sans-serif;
  }
}
