@import "@repo/ui/theme.css";
@import "tailwindcss";

/* If you update the nav or footer height (ie: adjusting font size, padding, etc.),
 * make sure you update the margin utilities below. These ensure that fullscreen
 * pages are the correct size.
*/
:root {
  --nav-height: 80px;
  --footer-height: 108px;
}
.mt-nav {
  margin-top: calc(0px - var(--nav-height));
}
.mt-footer {
  margin-top: calc(0px - var(--footer-height));
}
.mt-nav-footer {
  margin-top: calc(0px - var(--nav-height) - var(--footer-height));
}
